.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: inherit;
}

.productWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.productCard {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 250px;
    height: 375px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    transition: all ease-out 0.3s;
    cursor: pointer;
    border: 1px solid lightgray;
}

.productCard:hover {
    transform: scale(1.02);
    background-color: rgba(253, 253, 253, 0.973);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productTop {
    flex: 5;
    padding: 0 1rem;
    min-height: calc(375px * (5/8));
    border: 1px solid lightgray;
}

.productTop img {
    padding: 1rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productBottom {
    overflow: auto;
    flex: 3;
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
    max-height: calc(375px * (5/8));
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 0;
}


.productBottom .productTitle {
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.productBottom .productPrice {
    padding-top: 0.5rem;
    font-size: 18px;   
    font-weight: 700; 
}

.productBottom .productCategory {
    font-size: 12px;
    color: gray;
    margin-top: 0.5rem;
}

.spinner {
    display: flex;
    justify-content: center;
}

.spinner::after {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 3px solid rgb(0,181,173);
    border-left: 3px solid rgb(0,181,173);
    border-bottom: 3px solid transparent;
    animation: loading 0.6s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(-1turn);
    }
}

@media (max-width: 600px) {
    .productListContainer {
      padding: 7rem 10rem;
    }
  }